# Vivado files
*.jou
*.log
*.str
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.tmp/
.Xil/
*.srcs/
*.mcs
*.prm

# Simulation files
*.wdb
*.vcd
*.ghw

# Bitstream files
# *.bit
# *.bin

# OS files
.DS_Store
Thumbs.db
*~

# Backup files
*.bak
*.old
dfx_runtime.txt
/09-order-gateway-cpp/.vscode
08-order-book/build_version.txt
/14-order-gateway-cpp/build
/14-order-gateway-cpp/vcpkg_installed
/15-market-maker/build
/15-market-maker/vcpkg_installed
/17-hardware-timestamping/build
/18-complete-system/build
/16-order-execution/build
/16-order-execution/vcpkg_installed
/build/CMakeFiles
/build/.cmake
